*{
    box-sizing: border-box;
    background-color: #C8DDFF;
    
}


.inter-tight {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Bisa diubah ke 100-900 */
    font-style: normal;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

}

nav{
    display: flex;
    justify-content: space-between;
    font-size:32px;
}

nav ul{
    text-decoration: none;
    display: flex;
}

nav ul li{
    list-style: none;
    margin: 20px;
}

.dua{
    display: flex;
}

img{
width: 500px;
height: 300px;
}

.text{
    font-size: 30px;
    padding-left: 40px;
}

.project{
    display: flex;
}


/*
Ini mulai halaman about
*/

.introduction h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

.introduction p{
    font-size:32px;
}




