*{
    box-sizing: border-box;
    background-color: #C8DDFF;
    
}


.inter-tight {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Bisa diubah ke 100-900 */
    font-style: normal;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

}

nav{
    display: flex;
    justify-content: space-between;
    font-size:32px;
}

nav ul{
    text-decoration: none;
    display: flex;
}

nav ul li{
    list-style: none;
    margin: 20px;
}

.dua{
    display: flex;
}

img{
width: 500px;
height: 300px;
}

.text{
    font-size: 30px;
    padding-left: 40px;
}

.project{
    display: flex;
}


/*
Ini mulai halaman about
*/

.introduction h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
}

.introduction p{
    font-size:32px;
}

/* form*/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  
  form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  
  

h3{
    text-align: center;
}

